<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}
      | 11ty-project</title>
    <base href="{{ site.baseHref }}">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/css/styles.css"/>
  </head>
  <body>
    {# header #}
    {% include 'partials/navbar.njk' %}
    {# header #}
    {# content #}
    <div class="container-fluid py-3 content-wrapper">
      <div class="row">
        <div class="col-10 offset-1">
          {% block content %}
            {{ content | safe }}
          {% endblock content %}
        </div>
      </div>
    </div>
    {# content #}
    {# footer #}
    <footer class="bg-secondary text-center py-3">
      <p class="m-0 text-light">&copy;2020 11ty-project</p>
    </footer>
    {# footer #}
    <script src="assets/js/jquery-3.5.1.slim.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>