{% extends "layouts/base.njk" %}

{% set posts = collections["posts_" + locale] %}
{% block content %}
  {{ content | safe }}
  <ul class="list-unstyled">
    {% for post in posts %}
      <li>
        <h3>
          <a href="{{ locale }}/posts/{{ post.fileSlug }}/">{{ post.data.title }}</a>
        </h3>
        <p>{{ 'postedOn' | i18n }}
          {{ post.date | date("DD MMMM YYYY", locale) }}</p>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}